#game-container {
    margin: 20px;
    text-align: center;
  }
  
  #feedback {
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  #timer, #score {
    margin-top: 10px;
  }
  

  #word-grid {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .word-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%; /* Full width of the container */
  }
  
  .word-cell {
    flex: 1; /* Each cell flexes to fill the available space */
    max-width: 50px; /* Adjust maximum width as needed */
    height: 50px; /* Fixed height */
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-transform: uppercase;
    margin: 2px; /* Adjust spacing between cells */
    background-color: grey;
  }
  